<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="icon" href="/img/lc.jpg" />
        <title>LightChat</title>
    </head>
    <body>
        <ul id="messages"></ul>
        <form id="form" action="">
            <input id="input" type="text" placeholder="Send a message" />
            <button type="submit">Send!</button>
        </form>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>
